<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>상품 데이터 출력 예제</h1>
    <table>
        <thead>
        <tr>
            <td>순번</td>
            <td>상품명</td>
            <td>상품설명</td>
            <td>가격</td>
            <td>상품등록일</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto, status : ${itemDtoList}">
            <td th:if="${status.even}" th:text="짝수"></td>
            <td th:unless="${status.even}" th:text="홀수"></td>
            <td th:text="${dto.itemNm}"></td>
            <td th:text="${dto.itemDetail}"></td>
            <td th:text="${dto.price}"></td>
            <td th:text="${dto.regTime}"></td>
        </tr>
        </br></br>
        <tr th:each="dto, status : ${itemDtoList}">
            <td th:switch="${status.even}">
                <span th:case="true">짝수</span>
                <span th:case="false">홀수</span>
            </td>
            <td th:text="${dto.itemNm}"></td>
            <td th:text="${dto.itemDetail}"></td>
            <td th:text="${dto.price}"></td>
            <td th:text="${dto.regTime}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>